<%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
    <input type="text" id="inputFelt" placeholder="Skriv noe her">

</div>
<div class="guideBoxDiv">
    <% guides.forEach(function(guide) { %>
        <div class="guideBox">
            <h2><%= guide.titel %></h2>
            <p><%= guide.tag %></p>
            <a href="/guide/<%= guide._id %>">les mer</a>
            <a href="/editGuide/<%= guide._id %>">Rediger</a> <!-- Ny rediger knapp -->
        </div>
    <% }) %>
</div>

<script>
    const searchInput = document.getElementById('inputFelt');
    searchInput.addEventListener('input', function(e) {
        const query = e.target.value.toLowerCase();
        document.querySelectorAll('.guideBox').forEach(item => {
            const title = item.querySelector('h2').textContent.toLowerCase();
            const tag = item.querySelector('p').textContent.toLowerCase();
            if (title.includes(query) || tag.includes(query)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });
</script>

    
</body>
</html>